<h1>Eat-Da-Burger!</h1>

<img src="./assets/img/burgerbystella.png" id ="burger" alt="Image of Cartoon Burger"/> 

<h3>List the burgers you want to eat!</h3>


<ul>
  {{#each burgers}}
  	<li>
       <p>Burger: {{this.burger_name}}</p>
	   <p>Devoured? {{this.devoured}}</p>
	    <button data-id="{{this.id}}" class="eatburger">Eat Burger</button>
		<button data-id="{{this.id}}" class="delburger">Delete Burger</button>

  	</li>
  {{/each}}
</ul>

<ul>
	
</ul>

<form action="/" method="POST">
	<textarea type="text" name="addburger"></textarea>

	<button type="submit">Add Burger</button>
</form>


