<h1>Eat-Da-Burger!</h1>

<img src="./assets/img/burgerbystella.png" id ="burger" alt="Image of Cartoon Burger"/> 

<h3>List the burgers you want to eat!</h3>


<ul>
  {{#each burgers}}
  	<li>
       <p>Burger: {{this.burger_name}}</p>
	   <p>Devoured? {{this.devoured}}</p>
	    <button data-id="{{this.id}}" class="eatburger">Eat Burger</button>
		<button data-id="{{this.id}}" class="delburger">Delete Burger</button>

  	</li>
  {{/each}}
</ul>
<form class ="burger-form" id="burger-form">
	<div>
		<label for="burgertext">Burger:</label>
		<input type="text" id="burgertext" name="burger_name">
	</div>
	<button type="submit" id="addburger">Add Burger</button>
</form>





